<div class="po-page-login-container">
    <div class="po-page-login-panel">
        <div class="po-page-login-body">
            <div class="po-page-login-panel-content">
                
                <header class="po-page-login-header">

                    <h1 class="po-mb-md-4 po-mb-sm-1">
                        <div class="po-page-login-header-product-name">
                            Inventário de Estoque
                        </div>
                    </h1>

                    <div class="po-page-login-header-welcome po-mb-md-4 po-mb-sm-2">
                        Autenticação
                    </div>

                </header>

                <form [formGroup]="loginForm">

                    <po-login
                        #username
                        class="po-sm-12"
                        formControlName="username"
                        name="username"
                        p-placeholder="Usuário"
                        p-required="true"
                        [(ngModel)]="inputUsername"
                        [p-auto-focus]="true"
                    ></po-login>

                    <po-password
                        #password
                        class="po-sm-12"
                        formControlName="password"
                        name="password"
                        p-placeholder="Senha"
                        p-required="true"
                        [(ngModel)]="inputPassword"
                    ></po-password>

                    <po-select
                        #company
                        class="po-sm-6"
                        formControlName="company"
                        name="company"
                        p-placeholder="Empresa"
                        [ngModel]="inputCompany"
                        (ngModelChange)="inputCompany = $event"
                        (p-change)="resetBranchOptionSelected();getBranchOptions($event)"
                        [p-options]="companyOptions"
                    ></po-select>

                    <po-select
                        #branch
                        class="po-sm-6"
                        formControlName="branch"
                        name="branch"
                        p-placeholder="Filial"
                        [ngModel]="inputBranch"
                        (ngModelChange)="inputBranch = $event"
                        [p-disabled]="selectBranchIsDisabled"
                        [p-options]="branchOptions"
                    ></po-select>

                    <po-button
                        class="po-sm-12"
                        [p-disabled]="!loginForm.valid"
                        p-label="Entrar"
                        p-kind="primary"
                        (p-click)="loginSubmit()"
                        [p-danger]="true"
                    ></po-button>

                </form>

            </div>
        </div>
    </div>
</div>